body {
    margin-left: 30px;
}

div {
     display: flex;
     flex-direction: column;   
}

button {
    width: 300px;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

img {
    width: 1000px;
}

ul {
    display: flex;
}

li {
    font-size: 20px;
    border: 1px solid black;
    margin-left: 10px;
    width: fit-content;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
}

input {
    width: 300px;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}