body {
    margin: 30px;
}

#colum {
    width: fit-content;
    height: 60vh;
    background-color: black;
    color: white;
    padding: 20px;
}

Link {
    text-decoration: none;
    color: white;
}