* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
}

header {
    height: 100px;
    background-color: yellow;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo { background-color: red; }
.menu { background-color: grey ;}

.menu nav ul {
    display: flex;
}
.menu nav ul li {
    margin: 0px 10px;
    list-style: none;
}

#slideshow {
    width: 100%;
    height: 350px;
    background-color: rgb(153, 59, 59);
}

.cards {
    display: flex;
}
.card {
    width: 33.33%;
    height: 350px;
    background-color: aqua;
    margin: 10px;
}